{% load get_profile %}
{% get_user_profile as profile %}

<nav class="navbar">
    <section class="navbar-dashboard">
        <a href="{% url 'index' %}">Dashboard</a>
        {% if profile %}
            <div id="user">
                <span>Welcome, {{ profile.first_name }}</span>
                <a class="button" href="{% url 'book add' %}">Add Book</a>
                <a class="button" href="{% url 'profile details' %}">Profile</a>
            </div>
        {% endif %}
    </section>
</nav>